<header>
  <a href="{{site.baseurl}}/">
    <h1>
      {{site.title}}
    </h1>
  </a>
  <div class="dmode">
    <img src="{{site.baseurl}}/assets/icons/sun.svg" alt="" />
  </div>
  <section>
    <img src="{{site.author.image}}" alt="{{site.author.name}}" />
    <p style="-moz-user-select: none; user-select: none;">
      {{site.author.bio}} Escribo un <a href="/journal.html">journal</a>, <a href="/poems.html">poemas</a> y <a href="/letters.html">cartas</a> que no siempre envío. En noviembre 2020 <a href="/sale.html">autopubliqué mi primer libro</a>.
    </p>
  </section>
</header>
