<header>
  <a href="{{site.baseurl}}/">
    <h1>
      {{site.title}}
    </h1>
  </a>
  <div class="dmode">
    <img src="{{site.baseurl}}/assets/icons/sun.svg" alt="" />
  </div>
  <section>
    <img src="{{site.author.image}}" alt="{{site.author.name}}" />
    <p style="-moz-user-select: none; user-select: none;">
      {{site.author.bio}} Estudié Lic. en Administración y Sistemas. En noviembre 2020 <a href="/sale.html">autopubliqué mi primer libro</a>.
    </br> </br> Podés escribirme a: delfi.young@gmail.com
    </p>
  </section>
</header>
