<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{site.title}} | {{page.title}}</title>
  {%seo%}
  <script src="{{site.baseurl}}/assets/js/dmode.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6TCHQH4MRJ"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6TCHQH4MRJ');
</script>
</head>
