<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
Nací en Rosario pero me crié en Buenos Aires. Me fue bien en el colegio, luego en la facultad y ahora en mi profesión relacionada a la tecnología. Desde niña me vinculé en ámbitos y actividades asociados a lo masculino. Practiqué karate por 6 años, anduve en moto, dirigí una empresa.<br />

      	  <br />En 2020 autopubliqué un libro sobre cómo acepté mi orientación sexual, luego de una década en la oscuridad.<br />

      	  <br />Ahora indago en la espiritualidad, la astrología, la sexualidad y la escritura.<br />

      	  <br />Escribo un newsletter semanal sobre mi aprendizaje en cuestiones de género y sexualidad con la esperanza de convertirlo en un curso en inglés/español algún día<br />

      		  <br />

	  <h2>Posts Recientes</h2>
      <section class="posts">
        {% for post in site.categories.post %}
        <div class="post">
          <a href="{{site.baseurl}}{{post.url}}"><h3>{{post.title}}</h3></a>
          <small>{{post.date|date_to_string}}</small>
          <p>
            {{post.content|truncate: 120}}
          </p>
        </div>
        {% endfor %}
      </section>
	  <br />
	  <br />
<small>Shoutout to <a href="https://github.com/sharadcodes">Sharad Raj</a> for the theme.</small>
      {% include footer.html %}
    </main>
  </body>
</html>
