<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
	  <h2>Lastest Posts</h2>
      <section class="posts">
        {% for post in site.posts %}
        <div class="post">
          <a href="{{site.baseurl}}{{post.url}}"><h3>{{post.title}}</h3></a>
          <small>{{post.date|date_to_string}}</small>
          <p>
            {{post.content|truncate: 120}}
          </p>
        </div>
        {% endfor %}
      </section>
	      <br />
		  <br />
<small>Shoutout to <a href="https://github.com/sharadcodes">Sharad Raj</a> for the theme.</small>
      {% include footer.html %}
    </main>
  </body>
</html>
