<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/talleres.css">

</head>
  <body>
    <main>
      {% include post_header.html %}
      <article>
        <div class="meta">
          <h1 class="title">
            {{page.title}}
          </h1>
          <small>{{page.date|date_to_string}}</small>
        </div>
        <div class="content">
          {{content}}
        </div>
        {% if page.comments %}
          {% include disqus.html %}
        {% endif %}
      </article>
      {% include footer.html %}
    </main>
  </body>
</html>